<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ product_name }}</title>
    <link rel="stylesheet" href="style.css">
</head>
<!--<body background="brochure.png">-->
<body>
    <div>
        <div id ="top"  >
            <br/>
            <h3 align = "center">
                <font face = "Optima" >{{ product_owner }} Presents</font>
            </h3>
            <h1>
                <font face = "Brush-Script" >{{ product_name }}</font>
            </h1>
            <br/>
        </div>
        <div id="bottom">
            <br/>
            <h3 align = "center">
                <font face = "Optima" >{{ product_desc }}</font>
            </h3>
            <br/>
        </div>
    </div>
</body>
</html>